$redes:(
    facebook: blue,
    instragram: rgb(211, 131, 26),
    twitter: rgb(17, 211, 218),
    linkedin:rgb(0, 132, 255),
);


.bi-facebook{
    color: map-get($map: $redes, $key:facebook );
}


.bi-instagram{
    color: map-get($map: $redes, $key:instragram );
}
.bi-twitter{
    color: map-get($map: $redes, $key:twitter );
}
.bi-linkedin{
    color: map-get($map: $redes, $key:linkedin );
}


  footer{
       
        .div-footer{
        background: gainsboro;
        justify-content: center;

        padding: 40px;
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows:50px 220px 220px 200px 40px ;

        grid-template-areas: 
        "subtitulo "
        "footer-contacto"
        "footer-ubicacion"
        "footer-redes"
        "footer-firma"
        ;

        .subtitulo{
            grid-area: subtitulo ;
        }
        .footer-contacto{
            grid-area: footer-contacto;
        }
        .footer-ubicacio{
            grid-area: footer-ubicacion;
        }
        .footer-redes{
            grid-area: footer-redes;
        }
        .footer-firma{
            grid-area: footer-firma;
        }

    

        h2{
            color: rgba(236, 11, 11, 0.836);
            font-family:Arial, Helvetica, sans-serif;
            font-size: 1.5rem;
            text-align: center;
        }
        .footer-contacto{
           align-items: center;
           ul{
            list-style: none;
                li{
                    text-decoration: none;
                }
           }
                     
        }
        .footer-ubicacion{
            iframe{
                border-radius: 10px;
                border: red 2px solid;
             } 
        }


        .footer-redes{
           
            i{
                font-size: 2.5rem;
                padding: 12px;
                &:hover{
                    transform: scale(2);
                }
            
            }
        }
      
        
        }  
        h4{
            padding: 10px;
            text-align: center;
            font-size:1rem;
            color: darkred;
        
        }
  }

  @media (min-width: 1024px){
    footer{
    .div-footer{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:60px 200px 40px ;

    grid-template-areas: 
    "subtitulo subtitulo subtitulo"
    "footer-contacto footer-ubicacion footer-redes"
    "footer-firma footer-firma footer-firma"
    ;
    .subtitulo{
        grid-area: subtitulo ;
    }
    .footer-contacto{
        grid-area: footer-contacto;
    }
    .footer-ubicacio{
        grid-area: footer-ubicacion;
    }
    .footer-redes{
        grid-area: footer-redes;
    }
    .footer-firma{
        grid-area: footer-firma;
    }

    }
}
}

