
header{
    background-color: rgba(2, 2, 2, 0.781);
    color: white;
    padding: 12px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    h1{
        color: red;
        text-align:center;
        b{
            color: white;
        }
    }
    nav{
        border-radius: 10px;
        ul{
            display: flex;
            justify-content: space-around;

            li{
                list-style: none;
                 a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}
@media (min-width: 1024px){
    header{
       
        flex-direction:row;
        justify-content: space-around;
        nav{
            width: 45%;
            li{
                padding: 15px;
            }
        }
    }
    
}