/* inicio------ pagina -  contacto ---------*/
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    
}

/* fin------ pagina -  contacto ---------*/