button{
    margin-top: 6px;
    &:hover{
        transform: scale(2);
    }
}

.boton{
    background-color: white;
    color: red;
    border-radius: 8px;
    padding: 4px;
    margin-top: 5x;

    &:hover{
        transform: scale(1.5);
    }
}

.boton2{
    @extend .boton;
    background-color: gray;
    color: white;
    transition: 200ms;
    &:hover{
        filter:opacity(80%);
    }
}