.div-equipos{
    padding: 15px;
    display: block;
    .tarjeta-equipos{
        border: 2px solid rgba(34, 30, 30, 0.678);
        border-radius: 6px;
        min-width: 200px;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6px;
        margin: 10px;
        background-color: rgba(104, 102, 102, 0.377);
        box-shadow: 2px 2px 5px white;
        h3{
            color: rgb(240, 8, 8);
        }
        p{
            color: white;
        }
        img{
            width: 80%;
            height: 60%;
            border-radius: 8px;
        }

    }
}


@media (min-width: 480px){
   
    .div-equipos{
        display: flex;
        overflow-x: scroll;
        .tarjeta-equipos{
            min-width: 280px;
            height: 400px;
        }
    } 
}    

@media (min-width: 1024px){

    .div-equipos{
        justify-content: space-around;
        overflow-x:hidden;
        .tarjeta-equipos{
            min-width: 320px;
            height: 450px;
        }
    }
}
